*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    background-image: url('day.jpeg'), linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#fff;
    letter-spacing: 1px;
    font-family:sans-serif;
    padding-top: 3rem;
    /* overflow: hidden; */
    
    }
    
    /* Weater  */
    .weather{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .weather_container{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .temp{
        display: flex;
        align-items: center;
    }
    .temp h1{
        font-size: 4rem;
    }
    .temp_info{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100px;
        
    }
    img{
    
        align-self: center;
        margin-left: 2rem;
        width: 100px;
        height: 100px;
    }
    .temp_info{
        font-size: 2.3rem;
        margin-top: -2rem;;
    }
    .city-container{
        text-align: center;
    }
    
    .city{
        margin-top: 3rem;
        align-self: flex-end;
        font-size: 2rem;
    }
    .time{
      
       
        font-weight: bold;
        text-align: center;
 
    }
    .span-city{
        display: inline-block;
        margin: 3rem auto 0 auto;
       font-size: 3rem;
       font-weight: 600;
       font-style: normal;
    height: 50px;

    }
    .write-city{
        cursor: pointer;
       transition: .3s;
       font-style: oblique;
    }
    .write-city:hover{
        transform:translateX(10px);
        display: inline-block;
        box-shadow: 0 0 1rem rgba(0,0,0,.4);
    }
    .weather-info{
        display: flex;
      
    }
    
    .weather-1, .weather-2{
        padding: 20px;
        border-right: 2px solid #fff;
        text-align: center;
       
       
    }
    .weather-3{
    padding: 20px;
    text-align: center;
    
    }
    .date{
        font-size: 1.5rem;
    }
    .date-container{
       margin-right: 60px;
        font-size: 2rem;
        display: grid;
        grid-gap:5px;
    }
    /* Next Day */
    
    
    .nextDay{
        margin-top: 10rem;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 50px;
        /* justify-content: center; */
     
    
    }
    .nextDay1, .nextDay2, .nextDay3, .nextDay4{
        background-color: rgba(37, 36, 36, 0.479);
        width: 600px;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: 0 0 2px rgba(0,0,0, .2);
        display: flex;
        padding: 0 10px;
        
    }
    .nextDay p{
        opacity: 1;;
        font-style: italic;
        font-weight: 500;
        color: #fff;
        font-size: 1.5rem;
    }
    .next_info{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .next_temp{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    .next_temp p{
        margin-right: 1.5rem;
    }

    canvas{
        display: block;
        margin-left: 4.2rem;
    }
    i{
        font-size: 2rem;
        padding-bottom: 1rem;
       color: #eee;
    }